h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin: 0px;
    padding: 0;
}
div a{
    margin-left: 1rem;
    color: aliceblue;
    background-color: rgba(8, 8, 128, 0.856);
    padding: 10px;
    border-radius: 7px;
    transition: all 1s;
}
div a:hover {
    color: rgb(177, 0, 0);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /* background: #f9f9f9; */
    font-size: 24px;
    padding: 25px;
}

.parallax {
    background-image: url(bugatti1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax2 {
    background-image: url(bugatti2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

@media all and (max-width:500px) {
    body {
        background: black;
        color: blanchedalmond;
    }
    .parallax {
        background-size: 490px auto;
        height: 200px;
    }
    .parallax2 {
        background-size: 490px auto;
        height: 200px;
    }
}